<%- include header%>
<link rel="stylesheet" href="/assets/css/checkInfo.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/assets/css/definedstyle.css" media="screen" title="no title" charset="utf-8">
<style media="screen">

</style>
</head>
<body>
    <header class="am-topbar am-topbar-inverse" >
        <h1 class="am-topbar-brand">
            <a href="/teacher">SDIBT</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="#">首页</a></li>
            </ul>
            <div class="am-topbar-right">
            <% if(teacher){ %>
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class=""><a href="#">欢迎您，<%= teacher.name%></a></li>
                    <li class=""><a href="/logoutt">注销</a></li>
                    <!-- 链接触发器， href 属性为目标元素 ID -->
                    <li><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" data-am-offcanvas="{target: '#doc-oc-demo1' }"><span class="am-icon-navicon"></span></button></li>
                </ul>
            <%}else{%>
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class=""><a href="/logint">登录</a></li>
                    <li class=""><a href="/regt">注册</a></li>
                </ul>
            <%}%>
            </div>
        </div>
    </header>
    <% if (error) {%>
        <script type="text/javascript">
            alert("<%= error%>");
        </script>
    <% } %>
    <% if (success) {%>
        <div class="am-alert am-alert-success" style="width:30%; margin:0 auto;" data-am-alert>
          <button type="button" class="am-close">&times;</button>
          <p><%= success%></p>
        </div>
    <% } %>
    <div id="note-info">

    </div>
    <!-- 侧边栏内容 -->
    <div id="doc-oc-demo1" class="am-offcanvas ">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="am-offcanvas-content">
                <ul class="am-list admin-sidebar-list" id="collapase-nav-1" >
                    <br><br><br><br><br>
                    <li  class="am-panel" >
                        <a  href="/teacher/settings"><i class="am-icon-cog am-margin-left-sm"></i> 个人设置</a>
                    </li>

                    <li class="am-panel">
                        <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                            <i class="am-icon-users am-margin-left-sm"></i> 管理班级 <i class="am-icon-angle-right am-fr am-margin-right"></i>
                        </a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="user-nav">
                            <li><a href="/teacher/addclass"><i class="am-icon-user am-margin-left-sm"></i> 添加班级 </a></li>
                            <li><a href="/teacher/classlist"><i class="am-icon-user am-margin-left-sm"></i> 班级列表 </a></li>
                        </ul>
                    </li>
                    <li  class="am-panel" >
                        <a  href="/teacher/callroll"><i class="am-icon-bomb am-margin-left-sm"></i> 开始点名</a>
                    </li>
                    <li class="am-panel">
                        <a  href="/teacher/searchlist"><i class="am-icon-chrome am-margin-left-sm"></i> 查询结果</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="am-g " >
        <div class="am-u-md-8 am-u-md-centered content-setting">
            <div data-am-tabs class="am-tabs">
                <br>
                <h1 style="text-align:center;"><i class="am-icon-cog am-margin-left-sm" style="color:rgb(133, 96, 140)"></i>&nbsp; 添加班级</h1><br>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active" id="listep0"><a href="[data-tab-panel-2]">班级信息</a></li>
                    <li class="" id="listep1"><a href="[data-tab-panel-3]">课程信息</a></li>
                    <!-- <li class=""><a href="[data-tab-panel-2]">歌唱</a></li> -->
                </ul>
                <div class="am-tabs-bd" style="overflow:hidden">
                    <div data-tab-panel-2 class="am-tab-panel am-active" id="step0">
                        <form id="addclass"  method="post">
                            <div class="control-group" style="margin-left:25%; text-align:left">
                                <div class="am-form-group">
                                    <label for="doc-ds-ipt-7" >专业班级</label>
                                    <input type="text" id="doc-ds-ipt-7" class="am-form-field input_major" name="major" style="width:60%; border-radius:5px;"  placeholder="如：计科-122" required="true">
                                </div>
                                <div class="am-form-group">
                                    <label for="doc-ds-ipt-8" id="labelEmail" >所在学院</label><br>
                                    <input type="text" id="doc-ds-ipt-8" class="am-form-field input_faculty"  name="faculty" list="note-faculty" maxlength="40" style="width:60%; border-radius:5px;" required="true"/>
                                    <datalist id="note-faculty" style="display:none;">
                                        <option value="计算机科学与技术学院">计算机科学与技术学院</option>
                                        <option value="管理科学与工程学院">管理科学与工程学院</option>
                                        <option value="工商管理学院">工商管理学院</option>
                                        <option value="会计学院">会计学院</option>
                                        <option value="公共管理学院">公共管理学院</option>
                                        <option value="经济学院">经济学院</option>
                                        <option value="金融学院">金融学院</option>
                                        <option value="统计学院">统计学院</option>
                                        <option value="法学院">法学院</option>
                                        <option value="人文与传播学院">人文与传播学院</option>
                                        <option value="外国语学院">外国语学院</option>
                                        <option value="数学与信息科学学院">数学与信息科学学院</option>
                                        <option value="信息与电子工程学院">信息与电子工程学院</option>
                                        <option value="国际教育学院">国际教育学院</option>
                                    </datalist>
                                </div>
                            </div>
                        </form>
                        <button class="am-btn am-btn-secondary am-radius am-btn-lg" style="margin-left:26%;margin-bottom:5%" onclick="next()">下一步</button>
                    </div>
                    <div data-tab-panel-3 class="am-tab-panel " id="step1">
                        <!-- <form id="settings"  method="post"> -->
                            <div class="control-group" style="margin-left:25%; text-align:left">
                                <br>
                                <div class="am-form-group">
                                    <label for="doc-ds-ipt-9" >课程名称</label>
                                    <input type="text" id="doc-ds-ipt-9" class="am-form-field " form="addclass" name="courseName"  style="width:60%; border-radius:5px;" placeholder="" required="true">
                                </div>
                                <div class="am-form-group">
                                    <label for="doc-ds-ipt-10">学时</label>
                                    <input type="number" id="doc-ds-ipt-10" class="am-form-field " form="addclass" name="courseTime" value="40" min="8" max="100" style="width:60%; border-radius:5px;" required="true">
                                </div>
                                <div class="am-form-group">
                                    <label for="doc-ds-ipt-11">密码</label>
                                    <input type="text" id="doc-ds-ipt-11" class="am-form-field " form="addclass" name="coursePassword" style="width:60%; border-radius:5px;" required="true" placeholder="学生选次课程时输入的密码（防止恶意选课）。">
                                </div>

                            </div>
                        <!-- </form> -->
                        <button class="am-btn am-btn-secondary am-radius am-btn-lg" style="margin-left:26%;margin-bottom:5%" onclick="pre()">上一步</button>
                        <button type="submit" class="am-btn am-btn-secondary am-radius am-btn-lg" form="addclass" style="margin-left:16%;margin-bottom:5%">提交</button>
                        <!-- <button class="am-btn am-btn-secondary am-radius am-btn-lg"  onclick="save()">确定</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer data-am-widget="footer"
    class="am-footer am-footer-default"
    data-am-footer="{  }" style="background:rgba(255, 255, 255, 0)">

    <div class="am-footer-miscs ">
        <p>由 <a href="http://www.crabx.site/" title="zerocode"
            target="_blank" class="">zerocode1337</a>
            提供技术支持</p>
            <p>CopyRight©2015  crabx.kevin</p>
        </div>
    </footer>
    <script type="text/javascript">


        function next(){
            var major = document.getElementsByClassName('input_major');
            var pattern=/^[\u4e00-\u9fa5]{2}\-[0-9]{3}$/;
            if(!pattern.test(major[0].value)){
                var insertText = "<div class=\"am-alert am-alert-danger\" daata-am-alert><button type=\"button\" class=\"am-close\">&times;</button><p>专业班级不符合填写规则，请重新填写！</p></div>";
                document.getElementById('note-info').innerHTML = document.getElementById('note-info').innerHTML + insertText;
                return false;
            }else{
                document.getElementById('note-info').innerHTML = null;
            }
            var faculty = document.getElementsByClassName('input_faculty');
            if(! faculty){
                var insertText = "<div class=\"am-alert am-alert-danger\" daata-am-alert><button type=\"button\" class=\"am-close\">&times;</button><p>所在院校不能为空！</p></div>";
                document.getElementById('note-info').innerHTML = document.getElementById('note-info').innerHTML + insertText;
                return false;
            }else{
                document.getElementById('note-info').innerHTML = null;
            }
            var step0 = document.getElementById("step0");
            step0.setAttribute('class','am-tab-panel');
            var step1 = document.getElementById("step1");
            step1.setAttribute('class','am-tab-panel am-active');
            var listep0 = document.getElementById("listep0");
            listep0.setAttribute('class','');
            var listep1 = document.getElementById("listep1");
            listep1.setAttribute('class','am-active');
        }
        function pre(){
            var step1 = document.getElementById("step1");
            step1.setAttribute('class','am-tab-panel');
            var step0 = document.getElementById("step0");
            step0.setAttribute('class','am-tab-panel am-active');
            var listep1 = document.getElementById("listep1");
            listep1.setAttribute('class','');
            var listep0 = document.getElementById("listep0");
            listep0.setAttribute('class','am-active');
        }
        // function save(){
        //     var forms = document.getElementById("addclass");
        //     forms.submit();
        // }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/checkInfo.js"></script>
</body>
</html>
