<%- include header%>
</head>
<body>
    <!--在这里编写你的代码-->
    <h1>hello,world</h1>
    <% if (error) {%>
    <script type="text/javascript">
        alert("<%= error%>");
    </script>
    <% } %>
    <% if (success) {%>
    <div class="am-alert am-alert-success" style="width:30%; margin:0 auto;" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p><%= success%></p>
    </div>
    <% } %>
    <div class="">
        <h3><a href="/logint">教师登陆</a></h3>
        <h3><a href="/regt">教师注册</a></h3>
        <h3><a href="/logins">学生登陆</a></h3>
        <h3><a href="/regs">学生注册</a></h3>
    </div>

</body>
</html>
