<%- include header%>
<link rel="stylesheet" href="/assets/css/checkInfo.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="reg-log">
    <% if (error) {%>
        <script type="text/javascript">
            alert("<%= error%>");
        </script>
    <% } %>
    <% if (success) {%>
        <div class="am-alert am-alert-success" style="width:30%; margin:0 auto;" data-am-alert>
          <button type="button" class="am-close">&times;</button>
          <p><%= success%></p>
        </div>
    <% } %>
    <div class="register-teacher">
        <form  class="am-form" id="form-with-tooltip" method="post">
            <fieldset>
                <legend>学生注册</legend>
                <div class="regform">
                    <div class="am-form-group am-input-group">
                        <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                        <input type="text" class="am-form-field am-radius" name="name" id="doc-vld-name-2-0" minlength="5" maxlength="20"
                        placeholder="输入用户名（至少 5 个字符）" required/>
                    </div>
                    <div class="am-form-group am-input-group">
                        <span class="am-input-group-label"><i class="am-icon-at am-icon-fw"></i></span>
                        <input type="email"  class="am-form-field am-radius" name="email" id="doc-vld-email-1-0" maxlength="25" placeholder="请输入邮箱" required data-foolish-msg="邮箱格式不正确！"/>
                    </div>
                    <div class="am-form-group am-input-group">
                        <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                        <input type="password" class="am-form-field am-radius" name="password" id="doc-vld-pwd-1-0" minlength="6" maxlength="15" placeholder="请输入密码（6-15位）" required data-foolish-msg="密码不符合规则！"/>
                    </div>

                    <div class="am-form-group am-input-group">
                        <input type="text"  class="am-form-field am-radius" max-width="6" style="display:inline-block; width:70%;" name="verify" id="inputVerify3" placeholder="请输入验证码" required onblur="checkVerify()">
                        <img src="/getCaptcha" style="display:inline-block" alt="" onclick="this.src='/getCaptcha?'+new Date().getTime()"/>
                    </div>
                    <hr>
                    <a href="/logins">已有账号，点此登录。</a>
                    <br><br>
                    <button class="am-btn am-btn-secondary" type="submit">注册</button>
                </div>
            </fieldset>
        </form>
    </div>
    <footer data-am-widget="footer"
            class="am-footer am-footer-default"
             data-am-footer="{  }" style="background:rgba(255, 255, 255, 0)">

      <div class="am-footer-miscs ">

            <p>由 <a href="http://www.crabx.site/" title="zerocode"
                                                  target="_blank" class="">zerocode1337</a>
              提供技术支持</p>
          <p>CopyRight©2015  crabx.kevin</p>
      </div>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/checkInfo.js"></script>
</body>
</html>
